* {
  font-family: sans-serif;
}


body {
  min-height: 200vw;
}

.body--fixed {
  overflow-y: hidden;
}
.modal__btn-open {
  font-size: 20px;
  background-color: #58afea;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.modal {
  position: fixed;
  background: #333333c1;
  inset: 0;  /* свойство для растягивания подложки на весь экран */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.open--active {
  display: flex;
}
.modal__window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  max-width: 40vw;
  min-height: 30vh;
  text-align: center;
  background-color: #faebd7;
  border-radius: 5px;
  padding: 20px 10px;
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
}
