@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";

/* =============================================== */

.main__gallery {}

.gallery {
  position: relative;
  z-index: 10;
}

.gallery__inner {
  display: flex;
  flex-direction: row;
}

.gallery__content {
  /* position: relative; */
}

.tab__gallery {
  /* position: absolute;
  left: 31%;
  top: 0px; */
}

.gallery__heading {
  margin: 110px 0 60px;
  max-width: 450px;
}

.tab__controls {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.tab__controls-item {}

.tab__controls-link {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #606571;
  padding: 15px 0;
  background: transparent;
}

.tab__controls-link--active {
  color: #ffc619;
}

.tab-content,
.gallery__param {
  display: none;
}

.tab-content.tab-content--show,
.gallery__param.tab-content--show {
  display: block;
}

.gallery__param {
  margin-bottom: 78px;
}


.gallery__param-list {
  font-size: 18px;
  letter-spacing: 0.05em;
  max-width: 325px;
}

.gallery__param-item {
  display: flex;
  align-items: center;
  background: linear-gradient(97deg, #f690203d 0%, #f6902000 100%);
  max-width: 325px;
  margin-bottom: 11px;
  padding: 11px 13px;
}

.param-item1 {
  max-width: 134px;
}

.param-item2 {
  max-width: 158px;
}

.gallery__param-item:last-child {
  margin-bottom: 0;
}

.gallery__param-img {
  margin-right: 12px;
}

.gallery__nav {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 261px;
  text-align: center;
  margin-bottom: 60px;
}

.gallery__prev,
.gallery__next {
  flex-shrink: 0;
}

.gallery__pagination.swiper-pagination-fraction {
  font-size: 16px;
  color: #606571;
}

.swiper-pagination-current {
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  color: #fff;
}

.gallery__next {}

.gallery__button {}

.gallery__slider {
  position: relative;
  width: 1407px;
  height: 835px;
  margin: 0 -30px 0 -50px;
}

.gallery__wrapper {
  
}


.gallery__slider {
  
}

.gallery__img {
  
}

.gallery__img img {
  width: 100%;
  opacity: 0.6;
}

.gallery__mini-slider.swiper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

}

.gallery__mini-slide {}



.gallery__mini-img {
  cursor: pointer;
  background: #000;
}

.swiper-slide-thumb-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/icon/eye.svg") 50% 50% no-repeat rgba(255, 198, 25, 0.4);
}

.gallery__mini-img img {
  width: 100%;
  opacity: 0.8;
}


/* ============================================== */

@media (max-width: 1441px) {
  .header__contacts {
    margin: 0 150px 0 auto;
  }

  /* ======================================= */

  .main__hero {
    padding-top: 80px;
  }

  .hero {
    background-size: 838px 679px;
    background-position: 88% 10%;
  }

  .hero__body {
    max-width: 735px;
  }

  .hero__subtitle {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .hero__title {
    font-size: 65px;
    line-height: 90px;
    margin-bottom: 50px;
  }

  .hero__icons {
    gap: 20px;
    font-size: 16px;
  }

  .hero__scroll-down {
    right: 39%;
    top: 228%;
  }

  .hero__img-wrapper {
    top: 45%;
    left: 6%;
  }

  .hero__img-girl {
    margin-top: -160px;
    margin-left: -200px;
  }

  .hero__img-label {
    max-width: 231px;
  }

  .hero__telegram {
    top: 45%;
    right: -2%;
  }

  /* ====================================== */

  .stripe1 {
    left: 11%;
    top: 146px;
  }

  .stripe2 {
    left: 32%;
  }

  .stripe3 {
    left: 59%;
    top: 146px;
  }

  .stripe4 {
    left: 86%;
    top: 146px;
  }

  .stripes-container__square {
    width: 302px;
    left: 11%;
  }

  /* ============================================= */

  .header__bottom-item {
    gap: 10px;
  }

}

@media (max-width: 1200px) {

  .header__top {
    padding-top: 30px;
  }

  .header__contacts {
    gap: 20px;
  }

  .header__contact {
    gap: 7px;
  }

  .header__btns {
    margin-left: auto;
    justify-content: end;
    gap: 10px;
  }

  .header__button {
    width: 177px;
  }

  .main__hero {
    padding-top: 60px;
  }

  .stripes-container__square {
    display: none;
  }

  .stripe2 {
    top: 146px;

  }

  .hero__subtitle {
    font-size: 28px;
  }

  .hero__title {
    font-size: 58px;
    line-height: 80px;
    margin-bottom: 45px;
    max-width: 660px;
  }

  .hero__icons {
    gap: 20px;
    font-size: 15px;
  }

  .hero__icon {
    gap: 13px;
  }

  .hero__img-girl {
    margin-top: -160px;
    margin-left: -276px;
  }

  .hero__scroll-down {
    display: none;
  }

  .hero__img-label {
    max-width: 220px;
  }

  .hero__telegram {
    top: 45%;
    right: 0%;
    gap: 13px;
  }

  .hero__telegram-icon {
    width: 70px;
    height: 70px;
  }


  /* ================================ */


}

@media (max-width: 1100px) {

  .header__info {
    position: fixed;
    flex-direction: column;
    align-items: start;
    display: block;

    padding: 20vh 0;
    inset: 0;
    background: #282b32;

    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }

  .header__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 15px 50px;
    font-size: 14px;
  }

  .header__metro--visible {
    display: flex;
    align-items: center;
    gap: 17px;
    margin: 0 auto 0 10%;

  }

  .header__metro--visible span {
    color: var(--accent-text);
  }

  .header__btns {
    flex-direction: column;
    margin-left: 15px;
  }

  .header__button {
    width: 204px;
    height: 50px;
  }


  .header__contact {}

  .header__metro {
    order: -1;
  }


  .body--opened-menu .header__info {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .burger__icon {
    display: flex;
  }

  .hero__icons {
    gap: 15px;
    font-size: 13px;
  }

  .hero__icon {
    gap: 10px;
  }

  .hero__subtitle {
    font-size: 26px;
    margin-bottom: 15px;
    white-space: nowrap;
  }

  .hero__title {
    font-size: 50px;
    max-width: 570px;
    margin-bottom: 25px;
  }

  .hero__title span {
    font-size: 11px;
    top: -17px;
  }

  .hero__img-girl {
    max-width: 600px;
    margin-top: -147px;
    margin-left: -130px;
  }

  .hero__img-label {
    max-width: 180px;
  }

  .hero__img-label-text {
    font-size: 13px;
  }

  .hero__img-label span {
    font-size: 17px;
  }

  .header__bottom {
    margin: -350px -15px 0px;
  }

  .header__bottom-item {
    font-size: 14px;
    line-height: 1;
  }

}

@media (max-width: 1000px) {

  .hero__title span {
    font-size: 11px;
    top: -17px;
  }

  .hero__icons {
    margin-bottom: 40px;
  }

  .hero__img-girl {
    max-width: 500px;
    margin: -71px -60px 0 0;
  }

  .hero__img-label {
    max-width: 140px;
  }

  .hero__img-label-text {
    font-size: 11px;
  }

  .hero__img-label span {
    font-size: 15px;
    line-height: 22px;
  }

  .header__bottom {
    margin: -235px -15px 0;
  }


  .header__bottom-line {
    width: 24px;
  }

  .hero__telegram {
    display: none;
  }

}

@media (max-width: 950px) {

  .main__hero {
    padding-top: 25px;
  }

  .hero__subtitle {
    line-height: 2;
  }

  .hero__title {
    font-size: 48px;
    line-height: 75px;
    margin-bottom: 15px;
  }

  .hero__icons {
    margin-bottom: 20px;
  }

  .hero__button {
    width: 233px;
    height: 50px;
    font-size: 11px;
  }

  .hero__img-wrapper {
    top: 43%;
    left: 0%;
  }

  .header__bottom-item {
    font-size: 12px;
  }

  .header__bottom-line {
    width: 18px;
    height: 1px;
  }

}

@media (max-width: 900px) {



  .hero {
    background-position: 100% -233%;
  }

  .hero__body {
    max-width: 410px;
  }

  .hero__subtitle {
    max-width: 375px;
    white-space: wrap;
    margin-bottom: 0;
  }

  .hero__title {
    margin-bottom: 0;
  }

  .hero__icons {
    flex-direction: column;
  }

  .hero__inneer {
    position: relative;
  }

  .hero__img-girl {
    max-width: 600px;
    position: absolute;
    top: -6%;
    left: 40%;
  }

  .hero__img-wrapper {
    top: 47%;
    left: 11%;
  }

  .header__bottom {
    margin: 12px -15px 0;
  }

  .header__bottom-item {
    flex-wrap: wrap;
    padding: 18px 38px;
    justify-content: flex-start;
    white-space: nowrap;
  }

  .header__bottom-item img {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 750px) {

  .hero__img-girl {
    top: 7%;
    left: 25%;
  }

  .header__metro--visible span {
    display: none;
  }

  .header__bottom-inner {
    grid-template: auto / repeat(2, 1fr);
  }

  .header__bottom-last {
    grid-column: -3 / -2;
    grid-row: 2 / 3;
  }

  .header__bottom-item {
    white-space: wrap;
  }
}

@media (max-width: 600px) {

  .hero {
    background-position: 34% -31%;
  }

  .hero__subtitle {
    max-width: 250px;
    font-size: 18px;
    line-height: 128%;
    margin-bottom: 8px;
  }

  .hero__title {
    max-width: 370px;
    font-size: 36px;
    line-height: 133%;
  }

  .hero__title span {
    font-size: 15px;
    margin-top: 24px;
  }

  .hero__icons {
    font-size: 13px;
    line-height: 138%;
  }

  .hero__img-girl {
    max-width: 329px;
    top: 19%;
    left: 42%;
  }

  .hero__img-wrapper {
    top: 44%;
    left: -12%;
  }

  .header__bottom-item {
    padding: 18px 79px;
  }
}

@media (max-width: 500px) {

  .header__logo {
    margin-left: 15px;
  }

  .main__hero {
    padding-top: 50px;
  }

  .hero {
    background-size: 668px 447px;
    background-position: 55% 51%;
  }

  .hero__icons {
    margin-bottom: 130px;
  }

  .hero__icons>.hero__icon:nth-child(3) {
    max-width: 100px;
  }

  .hero__img-girl {
    top: 36%;
    left: 20%;
  }

  .hero__img-wrapper {
    top: 42%;
    left: 1%;
  }

  .stripe1 {
    display: none;
  }

  .stripe2 {
    left: 22%;
    top: 100px;
  }

  .stripe3 {
    left: 84%;
    top: 100px;
  }

  .stripe4 {
    display: none;
  }

  .header__metro--visible {
    margin-left: 0;
  }

  .header__bottom-item {
    padding: 18px 54px;
  }
}

@media (max-width: 400px) {

  .hero__img-wrapper {
    top: 44%;
    left: 2%;
  }

  .header__bottom-item {
    padding: 18px 28px;
  }
}

@media (max-width: 350px) {

  .hero__img-wrapper {
    top: 48%;
    left: 2%;
  }
}